<div class="card-product">
    <div class="card-product__head">
        <div class="card-product__image">
            <div class="swiper card-photo-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img loading="lazy" src="img/image/image2.png" class="image" width="" height="" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img loading="lazy" src="img/image/image2.png" class="image" width="" height="" alt="">
                    </div>
                </div>
                <div class="swiper-scrollbar card-photo-swiper__swiper-scrollbar"></div>
            </div>
        </div>
        <div class="card-product__content-mob">
            <div class="card-product__check">
                <div class="card-product__status item1">В наличии</div>
                <div class="card-product__label item1">Акция</div>
            </div>
            <div class="card-product__name1">APE</div>
            <a href="#" class="card-product__name2">Пресс угловой с креплением 1/2x20 APE
                5/80</a>
            <div class="card-product__articles">Арт. 5678909</div>
        </div>
    </div>
    <div class="card-product__body">
        <div class="card-product__content-desck">
            <div class="card-product__check">
                <div class="card-product__status item1">В наличии</div>
                <div class="card-product__label item1">Акция</div>
            </div>
            <div class="card-product__name1">APE</div>
            <a href="#" class="card-product__name2">Пресс угловой с креплением 1/2x20 APE
                5/80</a>
            <div class="card-product__articles">Арт. 5678909</div>
        </div>
        <div class="card-product__line"></div>
        <div class="card-product__total">
            <div class="card-product__count">
                <button class="btn-reset card-product__count-button card-product__count-button-decrease">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </button>
                <input type="number" value="1" class="card-product__count-num">
                <button class="btn-reset card-product__count-button card-product__count-button-increase">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 6.5H11" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M6 1.5L6 11.5" stroke="#919191" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </button>
            </div>
            <div class="card-product__price">
                <div class="card-product__price-old"><span>133</span> руб</div>
                <div class="card-product__price-new"><span>119.80</span> руб</div>
            </div>
        </div>
        <button class="btn-reset button2 card-product__button">В корзину</button>
        <div class="card-product__favourites">
            <div class="card-product__favourites-icon active"></div>
            <span>Добавить в избранное</span>
        </div>
    </div>
</div>