<section class="section section-hero registration">
    <div class="container section-hero__container registration__container">
        <div class="registration__sidebar sidebar">
            <button class="btn-reset sidebar__head js-sidebar-head">
                <div class="sidebar__head-icon"></div>
                <div class="sidebar__head-name">Каталог</div>
            </button>
            <ul class="sidebar__body js-sidebar-body">
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Электротехника</a>
                    <button class="btn-reset sidebar__body-button"></button>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">Электротехника 2</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Электротехника 2</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Электротехника 2</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Электротехника 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Котлы и котельное оборудование</a>
                    <button class="btn-reset sidebar__body-button"></button>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">Котлы 2</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Котлы 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Климатическое оборудование</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Водонагреватели</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Детали трубопроводов, фитинги, хомутф, крепеж</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Наружное водоснабжение</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Пожарное оборудование</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Банки расширительные, ёмкости</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Вентиляционное оборудование</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
                <li class="sidebar__body-item js-sidebar-body-item">
                    <a href="#" class="sidebar__body-name">Теплоизоляция и уплотнительные материалы</a>
                    <button class="btn-reset sidebar__body-button"></button>
                </li>
            </ul>
        </div>
        <div class="registration__content">
            @include('../../templates/breadcrumbs.html')
            <a href="#" class="button-link-left reg-comment__link --none">Назад</a>
            <h1 class="section-hero__title registration__title">Регистрация</h1>
            <div action="#" class="form registration__form">
                <div class="form__title">Контактные данные</div>
                <div class="form__content">
                    <label class="form__label">
                        <div class="form__span">ФИО<span>*</span></div>
                        <input type="text" name="" class="input-reset form__input" placeholder="Введите ваше ФИО">
                    </label>
                    <label class="form__label">
                        <div class="form__span">Ваш телефон<span>*</span></div>
                        <input type="text" name="" class="input-reset form__input"
                            placeholder="Введите ваш номер телефона">
                    </label>
                    <label class="form__label">
                        <div class="form__span">E-mail<span>*</span></div>
                        <input type="text" name="" class="input-reset form__input" placeholder="Введите ваш E-mail">
                    </label>
                </div>
            </div>
            <div class="form-radio registration__form-radio">
                <div class="form-radio__item">
                    <input id="radio-1" type="radio" name="radio" value="1" checked>
                    <label for="radio-1">Юридическое лицо</label>
                </div>
                <div class="form-radio__item">
                    <input id="radio-2" type="radio" name="radio" value="2">
                    <label for="radio-2">Физическое лицо</label>
                </div>
            </div>
            <div class="reg-comment">
                <div class="reg-comment__title">Комментарий</div>
                <textarea name="" id="" class="input-reset form__textarea reg-comment__textarea"
                    placeholder="Напишите ваш комментарий"></textarea>
                <div class="reg-comment__buttons">
                    <a href="#" class="button-link-left reg-comment__link">Назад</a>
                    <button class="button2 btn-reset reg-comment__button">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
</section>