<section class="catalog">
    <div class="container catalog__container">
        <div class="catalog-filter js-catalog-filter">
            <div class="catalog-filter__link-block">
                <button class="btn-reset catalog-filter__link-head button-link-head js-catalog-filter-close">Назад</button>
            </div>
            <div class="catalog-filter__inner">
                <div class="catalog-filter__name">Фильтр</div>
                <div class="catalog-filter__items">
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Цена, BYN</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div id="slider-range" class="slider-price">
                                <input type="text" id="slider-price-min" class="slider-price-min form__input"
                                    value="1000">
                                <input type="text" id="slider-price-max" class="slider-price-max form__input"
                                    value="9000">
                            </div>
                            <div id="slider-price-count" class="slider-price-count"></div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button
                            class="btn-reset catalog-filter__item-name js-catalog-filter-name">Производитель</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="ITAP" id="ITAP">
                                <label class="form-check-label" for="ITAP">ITAP</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Wiega"
                                    id="Wiega">
                                <label class="form-check-label" for="Wiega">Wiega</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="General Fittings"
                                    id="General Fittings">
                                <label class="form-check-label" for="General Fittings">General Fittings</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Wester"
                                    id="Wester">
                                <label class="form-check-label" for="Wester">Wester</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Вид резьбового
                            соединения</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox"
                                    value="с наружной резьбой" id="с наружной резьбой">
                                <label class="form-check-label" for="с наружной резьбой">с наружной резьбой</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox"
                                    value="с внутренней и наружной резьбой" id="с внутренней и наружной резьбой">
                                <label class="form-check-label" for="с внутренней и наружной резьбой">с внутренней и
                                    наружной резьбой</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox"
                                    value="с внутренней резьбой" id="с внутренней резьбой">
                                <label class="form-check-label" for="с внутренней резьбой">с внутренней резьбой</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Тип</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="тип1" id="тип1">
                                <label class="form-check-label" for="тип1">тип1</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="тип2" id="тип2">
                                <label class="form-check-label" for="тип2">тип2</label>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-filter__item">
                        <button class="btn-reset catalog-filter__item-name js-catalog-filter-name">Диаметр
                            резьбы</button>
                        <div class="catalog-filter__item-content js-catalog-filter-content">
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Диаметр резьбы1"
                                    id="Диаметр резьбы1">
                                <label class="form-check-label" for="Диаметр резьбы1">Диаметр резьбы1</label>
                            </div>
                            <div class="catalog-filter__form-check form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" value="Диаметр резьбы2"
                                    id="Диаметр резьбы2">
                                <label class="form-check-label" for="Диаметр резьбы2">Диаметр резьбы2</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-filter__buttons">
                    <button class="btn-reset button2 catalog-filter__button1">Применить</button>
                    <button class="btn-reset button-clear catalog-filter__button2">Очистить фильтр</button>
                </div>
            </div>
        </div>
        <div class="catalog-content">
            @include('../../templates/breadcrumbs.html')
            <div class="catalog-content__buttons">
                <button class="btn-reset catalog-content__filters js-filters">
                    <span>Фильтры</span>
                    <img loading="lazy" src="img/icon/icon-filters.svg" class="image" width="" height="" alt="">
                </button>
                <div class="catalog-content__sort">
                    <label for="speed"></label>
                    <select name="speed" id="speed" class="catalog-content__sort-button">
                        <option selected="selected">По популярности</option>
                        <option>С дешевых</option>
                        <option>С дорогих</option>
                    </select>
                </div>
            </div>
            <div class="swiper-style catalog-content__items">
                @include('./../../templates/card-product1.html')
                @include('./../../templates/card-product1.html')
                @include('./../../templates/card-product1.html')
                @include('./../../templates/card-product1.html')
                @include('./../../templates/card-product1.html')
                @include('./../../templates/card-product1.html')
                @include('./../../templates/card-product1.html')
                <button class="btn-reset catalog-content__button">Показать еще</button>
                <div class="pagination catalog-content__pagination">
                    <div class="pagination__item active">1</div>
                    <div class="pagination__item">2</div>
                    <div class="pagination__item">3</div>
                    <div class="pagination__item">4</div>
                    <div class="pagination__item">...</div>
                    <div class="pagination__item">35</div>
                </div>
            </div>
        </div>
    </div>
</section>