.catalog {
    padding-top: 50px;
    padding-bottom: 100px;

    .breadcrumbs {
        margin-top: 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        column-gap: 40px;
    }

    &-content {
        &__filters {
            background-color: $blueLight;
            height: 40px;
            @include flexCCenter;
            column-gap: 8px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 4px;
            display: none;

            span {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: $greyText;
            }

            img {
                width: 17px;
                height: 26px;
                flex-shrink: 0;
            }
        }

        &__sort {
            margin-bottom: 30px;

            &-button {}

            .ui-selectmenu-button {
                border: 1px solid $EFEFEF;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                color: $greyText;
                border: 1px solid $EFEFEF;
                background-color: $F8F8F8;
                height: 40px;
                padding: 9px 20px 9px 20px;
                border-radius: 4px;
                width: 226px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse
            }

            .ui-selectmenu-text {
                margin-right: 0;
            }

            .ui-selectmenu-icon {
                background-image: url(../img/icon/ui-icon-arrow-down.svg) !important;
                @include bg-cover;
                width: 9px;
                height: 5px;
            }
        }

        &__items {
            @include gridColumn(4);
            column-gap: 16px;
            row-gap: 26px;
        }

        &__button {
            grid-column: 1/5;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            background: $dark;
            background-color: $blueLight;
            height: 60px;
            @include flexCCenter;
            border-radius: 4px;
            cursor: pointer;
        }

        &__pagination {
            grid-column: 1/5;
            margin-top: -6px;
        }
    }
}

@media screen and (max-width: $laptop) {
    .catalog-content__items {
        grid-template-columns: repeat(3, 1fr);
    }

    .catalog-content__button {
        grid-column: 1/4;
    }

    .catalog-content__pagination {
        grid-column: 1/4;
    }
}

@media screen and (max-width: $tablet) {
    .catalog-content__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .catalog-content__button {
        grid-column: 1/3;
    }

    .catalog-content__pagination {
        grid-column: 1/3;
    }
}

@media screen and (max-width: $mob) {
    .catalog {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .catalog__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .catalog-content__buttons {
        display: grid;
        @include gridColumn(2);
        column-gap: 8px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    .catalog-content__filters {
        display: flex;
        padding-left: 0;
        padding-right: 0;
    }

    .catalog-content__sort {
        margin-bottom: 0;

        .ui-selectmenu-button {
            width: 100%;
        }
    }

    .catalog-content__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .catalog-content__button {
        grid-column: 1/2;
    }

    .catalog-content__pagination {
        grid-column: 1/2;
    }
}