// colors


$backgr-dark: #11131f;
$green: #7f9c09;
$green-light: #A5C81A;
$green-active: #F5FFCF;
$grey: #828282;
$border-grey: #DFDFDF;
$dots-grey: #d7d7d7;

$white: #ffffff;
$black: #000;
$light: #E5E5E5;
$dark: #333333;
$darkText: #15254E;
$darkTextLink: #4A4947;
$footer: #575756;
$darkText: #4D4D4D;
$grey: #666666;
$greyLine: #E7E7E7;
$greyLine2: #F0F2F3;
$greyText: #919191;
$greyButton: #EBEBEB;
$greyInput: #C9C9C9;
$greyBorder: #DBE0E2;
$greySearch: #F5F5F6;
$price: #999999;
$EFEFEF: #EFEFEF;
$F8F8F8: #F8F8F8;
$blue: #4F649A;
$blueText: #394971;
$blueLight: #F1F5FF;
$green: #4CAF50;
$orange: #FF9017;
$yellow: #FFD95D;