.h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 133%;
}

.h2 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
}

.h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

@media screen and (max-width: $laptop) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mob) {
  .h2 {
    font-size: 18px;
    line-height: 26px;
  }
}
