.search {
    position: relative;

    &__input {
        padding: 10px 20px;
        border-radius: 4px;
        background-color: $greySearch;
        width: 100%;
        outline: none;
        height: 40px;

        &::placeholder {
            color: $greyInput;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $dark;
            -webkit-box-shadow: 0 0 0px 1000px $white inset;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    &__button {
        background-image: url(../img/icon/search.svg);
        @include bg-cover;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
}